In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'col1':[1,2,3,4],
                  'col2':[444,555,666,444],
                  'col3':['abc','def','ghi','xyz']})

In [4]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
df['col2'].unique()

array([444, 555, 666])

In [6]:
df['col2'].nunique()

3

In [7]:
#how many times then unique values exist
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [10]:
df[(df['col1']>2 | (df['col2']==444))]

   col1  col2 col3
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [11]:
df['col2'].apply(lambda x : x+1)

0    445
1    556
2    667
3    445
Name: col2, dtype: int64

In [12]:
#sort the dataframe by column
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [13]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [16]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,2,5,4,1,7]}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  2
2  foo  two  x  5
3  bar  two  y  4
4  bar  one  x  1
5  bar  one  y  7

In [19]:
df.pivot_table(values='D',index=['A','B'], columns = ['C'])

C          x    y
A   B
bar one  1.0  7.0
    two  NaN  4.0
foo one  1.0  2.0
    two  5.0  NaN

In [20]:
import sqlalchemy

In [21]:
import lxml

In [25]:
#!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.0.1-py2.py3-none-any.whl (117kB)
    100% |████████████████████████████████| 122kB 273kB/s
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.9 in /home/local/ANT/kendavar/anaconda3/lib/python3.5/site-packages (from html5lib)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.0.1 webencodings-0.5.1

In [29]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz
Requirement already satisfied: beautifulsoup4 in /home/local/ANT/kendavar/anaconda3/lib/python3.5/site-packages (from bs4)
Building wheels for collected packages: bs4
  Running setup.py bdist_wheel for bs4 ... - done
  Stored in directory: /home/local/ANT/kendavar/.cache/pip/wheels/84/67/d4/9e09d9d5adede2ee1c7b7e8775ba3fbb04d07c4f946f0e4f11
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [32]:
from bs4 import BeautifulSoup