In [2]:
import numpy as np

In [3]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [8]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [9]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [10]:
ser2 = pd.Series([1,2,3,4],['USA','Germany',"Italy","Japan"])

In [11]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [12]:
ser2["USA"]

1

In [8]:
from numpy.random import randn

In [15]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],["W","X","Y","Z"])

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df['new'] =df['W'] + df["Y"]

In [21]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [22]:
df.drop('new',axis=1,inplace=True)

In [24]:
df.shape

(5, 4)

In [25]:
df.loc["A"]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [27]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [28]:
df.loc["B","Y"]

-0.84807698340363147

In [29]:
df.loc[["A",'B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1 -0.278113  1.585707
   2 -0.041466 -0.311822
   3 -1.276537  0.276738
G2 1  0.174638  1.892998
   2  0.549735 -1.213690
   3 -1.022143 -0.661559

In [11]:
df.loc['G1'].loc[2]

A   -0.041466
B   -0.311822
Name: 2, dtype: float64

In [12]:
df.index.names=['Groups','Names']

In [13]:
df

                     A         B
Groups Names
G1     1     -0.278113  1.585707
       2     -0.041466 -0.311822
       3     -1.276537  0.276738
G2     1      0.174638  1.892998
       2      0.549735 -1.213690
       3     -1.022143 -0.661559

In [15]:
df.loc['G1']

              A         B
Names
1     -0.278113  1.585707
2     -0.041466 -0.311822
3     -1.276537  0.276738

In [17]:
df.xs(1,level = 'Names')

               A         B
Groups
G1     -0.278113  1.585707
G2      0.174638  1.892998

In [18]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [19]:
df =pd.DataFrame(d)

In [20]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [21]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [22]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [23]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [27]:
#fill the missing value with mean of column
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [28]:
data = {'company':["GOOG","GOOG","MSFT","MSFT","FB","FB"],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350],
       'Sales2':[200,120,340,124,243,350]}

In [29]:
df = pd.DataFrame(data)

In [30]:
df

    Person  Sales company
0      Sam    200    GOOG
1  Charlie    120    GOOG
2      Amy    340    MSFT
3  Vanessa    124    MSFT
4     Carl    243      FB
5    Sarah    350      FB

In [32]:
byComp = df.groupby('company')

In [34]:
byComp.mean()

         Sales
company
FB       296.5
GOOG     160.0
MSFT     232.0